<div id="page_wrapper">
	

	<div id="content">
		<h1>About Us</h1>
		<p>Skipping over the long but incredibly loving and fateful story of how my husband and I came upon this practice, this blog will share our exploration of what some people call a female led relationship. Please note though that this exploration is conducted specifically and exclusively on matters pretty much related to bedroom type activities. Our original intent was to add spice to a broken relationship. What we very quickly discovered was that this also created a stronger bond in all aspects of our relationship. On top (pun intended) of having so much fun we are getting infinitely more than what we hoped.
To tell you more about us, my name is Pam (53) and my husband is Mark (54). After 20 years of marriage, we reached a major low point and we both knew that we had to reconnect or we were going to fail. If these blurbs can help other couples, that would be awesome.
		</p>
	</div>
</div>
